src/main/mule/newdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="eb2eea07-3d42-4eb9-bf9a-7dfed88506ba" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="92c41d38-2842-4ca2-8d58-03aac481ef10" file="config/${en}.yaml" />
	<flow name="newdemoFlow" doc:id="87b3dc64-d920-47dc-ad15-fff58cdd2b79" >
		<http:listener doc:name="Listener" doc:id="0df44479-4d49-44ac-8117-5411cfa13d9d" config-ref="HTTP_Listener_config" path="/asd"/>
		<logger level="INFO" doc:name="Logger" doc:id="c45642f1-23cf-4d46-abe7-f1f0f5994c6d" message="#[p('log.message')]"/>
	</flow>
</mule>
